<head>
    <link rel="stylesheet" href="mainPage/mainPage.css">
</head >
<!-- <md-progress-linear md-mode="determinate" value="{{vm.determinateValue}}"></md-progress-linear> -->

<!--
    <md-slider-container>
    <span>previous Date</span>
    <md-slider md-discrete flex min="0" max="255" ng-model="color.red" aria-label="red" id="red-slider">
    </md-slider>

    </md-slider-container>
-->
<h4>Financial Watcher</h4>

<nav-bar> </nav-bar>
<app-ctrl></app-ctrl>

<div>
    Search: <input ng-model="$ctrl.query"/>
</div>
<input type="checkbox" ng-model="$ctrl.note"> disable notes</input>

<md-checkbox ng-model="$ctrl.debit" aria-label="Checkbox 1" class="checked" color="{{$ctrl.debit?"red":"green"}}">
    Debit: {{ $ctrl.debit}}
</md-checkbox>

<md-checkbox ng-model="$ctrl.credit " aria-label="Checkbox 1" ng-init="true">
    Credit: {{ $ctrl.credit }}
</md-checkbox>


<p>Sort by: 
<select ng-model="$ctrl.orderProp">
    <option value = "name">Alphabetical </option>
    <option value = "balance">amount</option>
</select>
</p>
    
<table ng-table="$ctrl.tableParams" class="table" show-filter="true"> 
    <tr ng-repeat="row in $data| filter:$ctrl.query"> 
        <td ng-hide="{{$ctrl.Sender}}" data-title="Sender" sortable="'Sender'">a      {{row.sender}} </td >
                 <td  data-title="Receiver" sortable="'Receiver'">b      {{row.receiver}} </td >
                 <td data-title="isActive" sortable="'isActive'"> {{row.isActive}} </td >
                 <td data-title="date" sortable="'date'" > {{row.date}} </td >
                 <td  data-title="type" sortable="'type'" > {{row.type}} </td >
                 <td ng-hide="$ctrl.note" data-title="note" sortable="'note'" > {{row.note}} </td >
                <td  data-title="amount" sortable="'amount'" > {{row.amount}} </td> 
                <td data-title="category" sortable="'category'" > {{row.category}}</td>
    </tr>
    </table>
           
